.email_Box {
  

}

.Name {
    font-size: 20px;
    font-weight: 600;
    color: #474444;
    margin-right: 10px;
   
    text-wrap: nowrap;
}

.Signup {
    background-color: #A9BCFF;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    height: 35px;
    width: 300px;
    font-weight: 600;
    color: #474444;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-bottom: 30ppx;
}

.weak {
    color: rgb(207, 7, 7);
}
.intermediate {
    color: rgb(146, 146, 11);
}

.strong {
    color: rgb(9, 77, 9);
}


  


.input::placeholder {
    color: red;
    padding:  0 10px;
    font-size: small;
    font-weight: 500;

}
.strength {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    font-weight: bold;
}

