.email_Box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}

.Name {
    font-size: 20px;
    font-weight: 600;
    color: #474444;
    margin-right: 10px;
    text-align: right;
    width: 200px;
    text-wrap: nowrap;
}

.Signup {
    background-color: #A9BCFF;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    height: 35px;
    width: 300px;
    font-weight: 600;
    color: #474444;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.weak {
    color: rgb(207, 7, 7);
}
.intermediate {
    color: rgb(146, 146, 11);
}

.strong {
    color: rgb(9, 77, 9);
}

.error {
    color: red;
    font-size: 0.9em;
    display: flex;
    align-self: start;
    margin-top: 8px;
}

.input::placeholder {
    color: red;
    padding:  0 10px;

}
.strength {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    font-weight: bold;
}
.Signup:hover {
    background-color: #45a049;
}


@media (max-width: 768px) {
    .Name {

        font-size: 16px;

    }

    .Name {
        width: 150px;
    }
}

.error1{
    display: flex;
    flex-direction: column;
}